<article class="post" id="article-<%= article.id %>">
  <header>
    <h1 class="title"><%=  article.title %></h1>
    <span>
      <%= _("Posted by") %> <%= author_link(article) %>, <time datetime="<%= article.published_at.strftime('%Y-%m-%dT%H:%M') %>" pubdate><%= _('Date') %> <%= article.published_at.strftime('%d. %m. %Y %H:%M') %></time>
    </span>
    <% unless @article.nil? %>
      <% unless @article.tags.empty? %>
        <aside class="tags"><%= tag_links(@article) unless @article.tags.empty? %></aside>
      <% end %>
    <% end %>
  </header>
  <div class="post-body">
    <% #hack because of incorrect controller info
    unless controller.controller_name == "redirect" and controller.action_name == 'redirect' %>
      <%= article.body.gsub(/<\/?[^>]*>/, "").slice(0..300) %>...
    <% else -%>
      <%= article.html(:body) %>
    <% end -%>
  </div>
  <% if article.extended? -%>
    <div class="extended">
      <% if controller.action_name == 'index' -%>
        <p><%= link_to_permalink article,_("Continue reading...") %></p>
      <% else -%>
        <%= article.html(:extended) %>
      <% end -%>
    </div>
  <% end -%>
  <% #hack because of incorrect controller info
  unless controller.controller_name == "redirect" and controller.action_name == 'redirect' %>
    <svg class="svg-more" width="10em" height="2em">
      <a xlink:href="<%= article.permalink_url %>">
        <rect class="button"
              width="100%"
              height="100%"
              rx="10"
              ry="10" />
        <text x="2.5em" y="1.3em">
          <%= _("read more") %>
        </text>
      </a>
    </svg>
<% end %>

<% unless @article.nil? %>
  <% if @article.allow_comments? or @article.published_comments.size > 0 -%>
    <section class="comments">
      <% unless @article.comments_closed? and @article.published_comments.size == 0 %>
        <h1><%= _("Comments")%></h1>
      <% end -%>

      <% unless @article.comments_closed? %>
        <p><a href="#commentform"><%= _("Leave a response")%></a></p>
      <% end -%>

      <ol id="commentList">
        <%= render :partial => "comment_list" %>
      </ol>
    </section>
  <% end -%>

  <%= render :partial => 'comment_form' unless @article.comments_closed? %>
<% end %>
</article>
