<article class="post" id="article-<%= article.id %>">
  <header>
    <h1 class="title"><%= (controller.controller_name == 'redirect') ? article.title : link_to_permalink(article,article.title) %></h1>
    <span>
      <%= _("Posted by") %> <%= author_link(article) %>, <time datetime="<%= display_gregorian_time(article.published_at) %>" pubdate><%= _('Date') %> <%= display_article_time(article.published_at) %></time>
    </span>
  </header>
  
  <div class="post-body">
    <% unless controller.action_name == 'redirect' %>
      <% if article.excerpt? %>
        <%= article.excerpt %>
      <% else %>
        <%= article.html(:body) %>
      <% end %>
    <% else %>
      <%= article.html(:body) %>
      <% if article.extended? %>
        <%= article.html(:extended) %>
      <% end %>
    <% end %>
  </div>

  <footer class="postmetadata">
    <%= category_links(article) unless article.categories.empty?;  %>
    <%#= display_comments_counter(article) %>
  </footer>
</article>
