    <section id="archives">
    <h1>Archives</h1>
    <% if (!articles.length){ %>
        <p>No articles found</p>
        <% } else {
    var currentmonth = 0
    var currentyear = 0
    for(var i=0;i<articles.length;i++) {
        if (articles[i].published_at_month() != currentmonth || articles[i].published_at_year() != currentyear) {
            currentmonth = articles[i].published_at_month()
            currentyear = articles[i].published_at_year()
                %>
                <% if(i>0){%></aside><% } %>
                <h3 class="archivemonth"><%= month_names[articles[i].published_at_month()-1] %> <%= articles[i].published_at_year() %></h3>
                <% }%>
            <div class="archivepost">
            <%= articles[i].published_at_mday() %> -
            <a href="#article&amp;view=<%= articles[i].permalink %>" class="view"><%= articles[i].title %></a>
            <% if(articles[i].categories != undefined && articles[i].categories.length > 0) { %>
                posted in
                <% for(var j=0;j<articles[i].categories.length;j++) {%>
                    <span><a href='#category&amp;view=<%= articles[i].categories[j].permalink %>'><%= articles[i].categories[j].name %></a></span>
                    <% } %>
                <%}%>
            </div>
            <%
        }
} %>
    </section>