    <li>
    <article id="comment-<%= this.id %>">
    <header>
    <h1 class="hidden">Comment #<%= this.id %></h1>
    <cite>
    <% if(this.url){%>
        <a href="<%=this.url%>" onclick="javascript:void(0); return false;" class="offline"><%= this.author %></a>
        <%} else {%>
        <%= this.author %>
        <%}%></cite>
    <time datetime="<%= this.created_at.replace(' ','T') %>" pubdate><%= this.created_at %></time>
    </header>
    <% if(typeof this.published != 'undefined'){%>
        <div class="spamwarning">This comment has been flagged for moderator approval.</div>
    <%} else {%>
        <%= this.body %>
    <%}%>
    </article>
    </li>